<!DOCTYPE html>

<nav class="navbar navbar-expand-lg navbar-light bg-white" alignmentRight>
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarExample01"
      aria-controls="navbarExample01"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
    ...
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarExample01">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="Sobre">
          <a class="nav-link" aria-current="page" href="#Sobre">Sobre</a>
        </li>

        <li class="comoFunciona">
          <a class="nav-link" href="#comoFunciona">Como Funciona</a>
        </li>

        <li class="responsabilidadeSocial">
          <a class="nav-link" href="#responsabilidadeSocial">Responsabilidade Social</a>
        </li>

        <li class="Parceiros">
          <a class="nav-link" href="#Parceiros">Parceiros</a>
        </li>

        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Área do usuário
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#usuario">Já tenho cadastro</a>
            <a class="dropdown-item" href="#">Quero acessar minha conta</a>
          </div>
        </div>

        <li class="FAQ">
          <a class="nav-link" href="FAQ">FAQ</a>
        </li>

        <!-- <ul class="navbar-nav d-flex align-items-right fs-20">
          <li id="usuario" class="nav-item active ml-4">
              <a data-toggle="modal" data-target="#ExemploModalCentralizado" routerLink="/entrar">
                  <i class="fa fa-user-o text-dark" aria-hidden="true"></i>
              </a>
          </li> -->
          <!-- Botão para acionar modal -->
 <!--      </ul> -->

 <!--      <div class="modal fade" id="ExemploModalCentralizado2" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
    
            <div class="modal-content" id="entrar-modal">
                <div class="modal-header">
                    <h5 class="modal-title titulo" id="TituloModalCentralizado">Entre em contato conosco!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="usuario">Nome:</label>
                        <input class="form-control" type="text" name="usuario" id="usuario" placeholder="Digite seu nome">
    
                    </div>
    
                    <div class="form-group">
                        <label for="email">E-mail:</label>
                        <input class="form-control" type="text" name="email" id="email" placeholder="Digite seu e-mail">
    
                    </div>
    
                    <div class="form-group">
                        <label for="exampleFormControlSelect1"> Assunto:</label>
                        <select class="form-control" id="assunto">
                            <option>Escolha uma opção</option>
                            <option>Elogio</option>
                            <option>Dúvida</option>
                            <option>Troca</option>
                            <option>Pedido</option>
                            <option>Reclamação</option>
                            <option>Outros</option>
                        </select>
                    </div>
    
                    <div class="form-group">
                        <label for="exampleInputPassword1">Comentário/Sugestão:</label>
                        <textarea class="form-control" name="texto" id="texto" rows="4"></textarea>
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-center texto">
                    <button (click)='atualizar()' type="submit" class="btn btn-amarelo-entrar" data-dismiss="modal">Enviar</button>
    
                    <button type="button" class="btn btn-laranja-fechar mr-3" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div> -->

      </ul>
    </div>
  </div>
</nav>
<!-- Navbar -->

<!-- Jumbotron -->
<div class="p-5 text-center bg-light">
  <h1 class="mb-3">Venha fazer parte do Projeto DoAção!</h1>
</div>
