
.wrapper {
  width:300px;
  height:300px;
  margin:0 auto;
  position:fixed;
  left:55%;
  top:50%;
  margin-left:-150px;
  margin-top:-150px;
 }
 
.container{
  display: block;
  position: absolute;
  width: 400px;
  height: 400px;
  bottom: 0;
  left: 0;
 }

.lds {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .lds div {
    display: inline-block;
    margin: 4px;
    left: 8px;
    width: 16px;
    background: #6394b1;
    animation: lds 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }
  .lds div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
  }
  .lds div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
  }
  .lds div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
  }
  
  @keyframes lds {
    0% {
      top: 8px;
      height: 64px;
    }
    50%, 100% {
      top: 24px;
      height: 32px;
    }
  }
  


  @media screen and (max-width: 540px) {

    .wrapper {
      width:300px;
      height:300px;
      margin:0 auto;
      position:fixed;
      left:55%;
      top:50%;
      margin-left:-150px;
      margin-top:-150px;
     }
     
    .container{
      display: block;
      position: absolute;
      width: 400px;
      height: 400px;
      bottom: 0;
      left: 0;
     }
  }