<div class="divider w-100 bg-white"></div>
<nav class="navbar navbar-expand-sm  navbar-light bg-light">
  <div class="container-fluid justify-content-start">
    <a class="navbar-brand" href="#"><img src="../../assets/img/logopreto.png" width="120" /></a>

      <ul class="navbar-nav list-group list-group-horizontal ">
        <li class="nav-item ms-3">
          <a class="nav-link" href="mailto:contato@doacao.com">
            <div style="max-width: 200px;" class="border-bottom pb-2">Contato</div>
          </a>
        </li>
      </ul>
  

  </div>
</nav>