<h1 class="display-4 text-center">Venha fazer parte do Projeto DoAção!</h1>

<blockquote class="blockquote text-center">
  <p class="mb-0">E no fim, o amor que você recebe, é igual ao amor que você dá.</p>
  <br>
  <footer class="blockquote-footer">The End <cite title="Source Title"> Beatles</cite></footer>
</blockquote>

<div class="card mb-3" style="background-color:rgb(231, 236, 247);">
  <img class="card-img-top" src="../../../assets/img/banner1.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Transformando sonhos em realidade</h5>
  </div>
  <p class="card-text">
    A DoAção é uma plataforma voltada para quem deseja <br>encontrar serviços e está disposto a fazer uma
    verdadeira troca de conhecimentos. <br>ajuda e colaboração!</p>
</div>

<!-- como funciona -->
<div>
  <h1 class="display-4 text-center">Você em Ação!</h1>
</div>
<div class="card-body" style="width: 100%;">
  <div class="card-group">
    <div class="card animate__fadeInLeft">
      <img class="card-img-top" src="../../../assets/img/img1.jpeg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Você Doa</h5>
        <p class="card-text">Acesse a sua página de usuário e contribua com as instituições cadastradas.</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../../../assets/img/img2.jpeg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Nós Transformamos</h5>
        <p class="card-text">Os valores das suas doações são monetizados dentro de nossa plataforma (R$1 = 1 moeda).</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../../../assets/img/img3.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">E devolvemos</h5>
        <p class="card-text">Utilize as moedas para adquirir serviços e produtos oferecidos pelos nossos Apoiadores.</p>
      </div>
    </div>
  </div>
</div>

<!-- quem somos -->
<div style="background-color:rgb(231, 236, 247)">
  <div>
    <h1 class="display-4 text-center">Idealizadores</h1>
  </div>
  <br>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm text-center">
        <img class="card-img-top rounded-circle" style="width: 10rem" id="img" src="../../assets/img/Ana.jpeg"
          alt="First slide">
        <h5 id="fonte_titulo" class="card-title text-center">Ana</h5>
        <p id="fonte" class="card-text justify-content-center">
          Estudande de Engenharia de Controle e Automação se aventurando na área de desenvolvimento web.
          Entusiasta da tecnologia, da literatura e de ideias que possam impactar o mundo com o bem.
        </p>
        <div class="mb-3 d-flex justify-content-center">
          <a href="https://www.linkedin.com/in/laisegalvao/" target="_blank">
            <img class="tm-redesocial mr-4" src="../../assets/img/linkedin.png" alt="Logo Linkedin">
          </a>
          <a href="https://github.com/leticialopesmr" target="_blank">
            <img class="tm-redesocial" src="../../assets/img/github.png" alt="Logo Github">
          </a>
        </div>
      </div>
      <div class="col-sm text-center">
        <img class="card-img-top rounded-circle" style="width: 10rem" id="img" src="../../assets/img/Bruno.jpeg"
          alt="Second slide">
        <h5 id="fonte_titulo" class="card-title">Bruno</h5>
        <p id="fonte" class="card-text justify-content">
          Bacharel em ciência da computação, trabalho com TI desde 2018. Auditor, aprendiz em desenvolvimento web,
          arauto no Dota e entusiasta de tudo que envolva tecnologia.
        </p>
        <div class="mb-3 d-flex justify-content-center">
          <a href="https://www.linkedin.com/in/laisegalvao/" target="_blank">
            <img class="tm-redesocial mr-4" src="../../assets/img/linkedin.png" alt="Logo Linkedin">
          </a>
          <a href="https://github.com/brunostinger" target="_blank">
            <img class="tm-redesocial" src="../../assets/img/github.png" alt="Logo Github">
          </a>
        </div>
      </div>
      <div class="col-sm text-center">
        <img class="card-img-top rounded-circle" style="width: 10rem" id="img" src="../../assets/img/hana.png"
          alt="Third slide">
        <h5 id="fonte_titulo" class="card-title">Hana</h5>
        <p id="fonte" class="card-text justify-content">
          Profissional de CX desbravando o mundo FullStack. Apoiadora das minorias sociais na luta por direitos.
          Interesses: maternidade, videos DIY (do it yourself), JRPGS e gatos. #stay-safe.
        </p>
        <div class="mb-3 d-flex justify-content-center">
          <a href="https://www.linkedin.com/in/laisegalvao/" target="_blank">
            <img class="tm-redesocial mr-4" src="../../assets/img/linkedin.png" alt="Logo Linkedin">
          </a>
          <a href="https://github.com/HanaaH-2207" target="_blank">
            <img class="tm-redesocial" src="../../assets/img/github.png" alt="Logo Github">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>