<h1 class="display-4 text-center">Apoiadores Voluntários</h1>

<div class="container">
  <div id="partners-carousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">


      <div class="carousel-item active">
        <div class="d-flex justify-content-space-around" style="display: flex; justify-content: space-around;">

          <!-- card lucas -->
          <div class="col-4">
            <img src="../../../assets/img/apoiador1.png" class="img-fluid img-thumbnail" alt="Lucas-Apoiador">
            <div class="card-body">
              <h4 class="card-title">Lucas</h4>
              <p class="card-text">
              <p>Engenheiro de Software com vasta experiência em Ruby, Elixir, Clojure, Kotlin, Angular
                e Java EE </p>
              Categorias de voluntariado:
              <ul>
                <li>Tech: Consultor para desenvolvimento de sistemas e aplicações</li>
                <li>Saude e bem estar: Workshop sobre refeições práticas e fitness</li>
              </ul>
              <a href="/login" class="btn btn-primary">Saiba Mais</a>
            </div>
          </div>

          <!-- card leo -->
          <div class="col-4">
            <img src="../../../assets/img/apoiador2.jpeg" class="img-fluid img-thumbnail" alt="Leo-Apoiador">
            <div class="card-body">
              <h4 class="card-title">Léo</h4>
              <p class="card-text">
              <p>Desenvolvedor Node, que quer voltar com o PHP e estudar C#. Instrutor fullstack na Digital House Brasil
              </p>
              Categorias de voluntariado:
              <ul>
                <li>Tech: Consultor para desenvolvimento de sistemas e aplicações</li>
                <li>Artes e Cultura: Consultor de planejamento turistico na Região Metropolitana da Baixada Santista
                </li>
              </ul>
              <a href="/login" class="btn btn-primary">Saiba Mais</a>
            </div>
          </div>

        </div>
      </div>


      <div class="carousel-item">
        <div class="d-flex justify-content-space-around" style="display: flex; justify-content: space-around;">

          <!-- card dio -->
          <div class="col-4">
            <img src="../../../assets/img/apoiador3.jpeg" class="img-fluid img-thumbnail" alt="Dio-Apoiador">
            <div class="card-body">
              <h4 class="card-title">Dio</h4>
              <p class="card-text">
                Tech lead e professor fullStack. Experiência e conhecimento em tecnologias Java, Python, Microservices,
                Soap, Integração, MySQL, Oracle,
                Drools e DB2
              </p>
              <ul>
                <li>Desenvolvimento Profissional: Mentoria para desenvolvimento de líderes na área de tecnologia.</li>
                <li>Artes e Cultura: professor de contra-baixo para iniciantes no mundo da música.</li>
              </ul>
              <a href="/login" class="btn btn-primary">Saiba Mais</a>
            </div>
          </div>

          <!-- card pedro -->
          <div class="col-4">
            <img src="../../../assets/img/apoiador4.jpeg" class=" img-thumbnail" alt="Leo-Apoiador">
            <div class="card-body">
              <h4 class="card-title">Pedro</h4>
              <p class="card-text">
              <p> Desenvolvedor e professor FullStack. Experiencia com Clojure, Kotlin, Angular. </p>
              Categorias de voluntariado:
              <ul>
                <li>Desenvolvimento Profissional: Orientador de preparação fisica para o basquetebol.</li>
                <li>Artes e Cultura: Liderança de workshops de Charme para iniciantes.</li>
              </ul>
              <a href="/login" class="btn btn-primary">Saiba Mais</a>
            </div>
          </div>


        </div>
      </div>

      <!-- item3 -->
      <div class="carousel-item">
        <div class="d-flex justify-content-space-around" style="display: flex; justify-content: space-around;">

          <!-- card categ -->
          <div class="col-4">
            <img src="../../../assets/img/categ.jpeg" class="img-thumbnail" alt="Categorias">
            <div class="card-body">
              <h6 class="card-title">Em breve...</h6>
              <p class="card-text">
              <p>Busca por Categorias:</p>
              <ul>
                <li>Tech</li>
                <li>Artes e Cultura</li>
                <li>Saude e bem estar</li>
                <li>Desenvolvimento pessoal</li>
              </ul>
              <a href="/login" class="btn btn-primary">Saiba Mais</a>
            </div>
          </div>


        </div>
      </div>

    </div>
  </div>
</div>