<div class="mainContent">
    <div class="content container-fluid"><h3>Recuperar senha</h3>
    <form  *ngIf="form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="row mt-3">
        <div class="content">
          <label for="email" class="form-label">Email</label>
          <input type="text" cdkTrapFocus [cdkTrapFocusAutoCapture]="true"   class="form-control" id="email" formControlName="email"  [ngClass]="{'is-invalid': form.controls.email.invalid && (form.controls.email.dirty || form.controls.email.touched)}" >
        </div>
      </div>
  
       <div class="row mt-3">
        <div class="content d-flex flex-row-reverse mb-5">
          <button type="submit" class="btn btn-outline-secondary" [disabled]="form.invalid">Enviar</button>
        </div>
       </div>  
    </form>
  </div>
  </div>
  