<div class="mainContainer d-flex flex-column align-items-center">
    <div class="searchContainer">
      <div>
        <div class="col font-weight-bold d-flex justify-content-center orgFilterTitle">
          <h2>Encontre Intituições</h2>
      </div>
      </div>
      <nav class="navbar navbar-expand-lg navbar-light bg-white d-flex flex-row">
        <div class="col d-flex  eventFilter flex-wrap">
          
           <div class="form-floating me-2 ns mt-2">                  
              <input  (keyup.enter)="searchOrgs()"  [(ngModel)]="name" type="text" class="form-control" id="eventName" >
              <label for="eventName">Nome</label>
            </div>
            
            <div class="form-floating me-2 ds mt-2 me-1 ms-1">                  
              <select  [(ngModel)]="city"  class="form-select btn border btn-sm" id="orgCity">  
                <option class="dropdown-item" value=""></option>    
                <option *ngFor="let location of locations"[value]="location?.city">{{location?.city}}</option>   
              </select>
              <label for="orgCity">Cidade</label>
            </div>

            <div class="form-floating  ps mt-2">                  
              <select  [(ngModel)]="category"  class="form-select btn border btn-sm" id="orgCategory"> 
                <option class="dropdown-item" value=""></option>    
                <option *ngFor="let area of areas"[value]="area?.id">{{area?.description}}</option>                   
              </select>
              <label for="orgCategory">Categoria</label>
            </div>
           
            <div class="">
              <button type="submit"  class="btn shadow-none h-100" (click)="searchOrgs()"><i class=" fs-3 bi bi-search"></i>
              </button>
            </div>
        </div>
    </nav>
    </div>
    <div class="w-100 bg-light ps-4 pe-4  d-flex flex-column align-items-center">
      <div class="events" >
        <app-organization-list [name]=name [city]=city [category]=category [search]=clicked></app-organization-list>
      </div>
    </div>

</div>

